:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --lightmode: #FFFFFF;
  --darkmode: #000000;
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --primary-text-color: #224c8d;
  --primary-background-color: #224c8d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
  .navbar {
    align-items: center;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .navbar #navToggler {
    width: 45px;
    height: 45px;
    display: none !important;
  }
  .navbar ul#nav {
    display: flex !important;
    flex-direction: row !important;
  }
  .navbar ul#nav li {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    list-style: none;
    list-style-type: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .navbar ul#nav li#contact {
    background-color: var(--primary-background-color);
    border-radius: 100vmax;
    text-shadow: #000000 1px 1px 6px;
  }
  .navbar ul#nav li#contact a {
    color: var(--primary-color);
  }
  .navbar ul#nav a {
    color: #000000;
    display: block;
    font-size: 1.1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-decoration: none;
  }
}
.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-areas: "logo navToggler";
  padding: 0.5em;
}
.navbar .active {
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-color);
  display: flex !important;
  margin-top: 4.1em !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}
.navbar span#navToggler {
  width: 45px;
  height: 45px;
  cursor: pointer;
  color: var(--primary-background-color);
  display: block;
  grid-area: navToggler;
}
.navbar #logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
  grid-area: logo;
}
.navbar ul#nav {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.navbar ul#nav li {
  width: 100%;
  list-style: none;
  list-style-type: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.navbar ul#nav a {
  color: #000000;
  display: block;
  font-size: 1.1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-decoration: none;
}

body,
html {
  background-color: var(--lightmode);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**Button Customization**/
button.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  margin-top: 0.5em;
  padding: 0.8em 2em;
  text-shadow: #000000 1px 1px 6px;
}

@media only screen and (max-width: 600px) and (max-width: 768px) and (max-width: 998px) {
  .stickyHeader {
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 999999;
  }
  .stickyHeader + .hero {
    padding-top: 102px;
  }
}
@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
  section.hero {
    width: 100% !important;
    height: 100vh !important;
    display: block !important;
  }
  section.hero #overlay__item {
    width: 55% !important;
    margin-left: 6.5em !important;
    justify-self: left;
  }
}
section.hero {
  width: 100%;
  max-height: 100vh;
  display: block;
  position: relative;
}
section.hero img {
  width: inherit;
  height: inherit;
}
section.hero #overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: absolute;
  top: 0;
}
section.hero #overlay #overlay__item {
  width: 95%;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  line-height: 1;
  justify-content: center;
  margin: auto;
}
section.hero #overlay #overlay__item h3 {
  font-size: clamp(1.5em, 4vw, 2.5em);
  font-weight: 100;
  text-transform: capitalize;
  text-shadow: #000000 1px 1px 6px;
}
section.hero #overlay #overlay__item h1 {
  font-size: clamp(2em, 4vw, 4em);
  text-transform: capitalize;
  text-shadow: #000000 1px 1px 6px;
}
section.hero #overlay #overlay__item span {
  color: var(--primary-text-color);
  text-shadow: #000000 1px 1px 6px;
}
section.hero #overlay #overlay__item p {
  width: 85%;
  font-size: clamp(0.8em, 3vw, 1em);
  text-shadow: #000000 1px 1px 6px;
}

section.services {
  display: block;
  margin-left: 2em;
  margin-right: 2em;
}
section.services h3 {
  width: 100%;
  align-items: center;
  display: flex;
  font-size: 2em;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {
  section.services div#services__info {
    display: grid !important;
    grid-template-columns: 2fr auto !important;
  }
}
section.services div#services__info {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) and (max-width: 998px) {
  section.services #services__tray {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  }
}
@media only screen and (max-width: 600px) {
  section.services #services__tray {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)) !important;
  }
}
section.services #services__tray {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}
section.services #services__tray #service__item {
  width: 100%;
  height: inherit;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
section.services #services__tray #service__item img,
section.services #services__tray #service__item svg {
  display: block;
  width: 6em;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
section.services #services__tray #service__item label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--secondary-color);
  font-size: clamp(1em, 3vw, 1.2em);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media only screen and (max-width: 600px) and (max-width: 768px) and (max-width: 998px) {
  section.content {
    display: grid !important;
    grid-template-areas: "one one" "one-text one-text" "two two" "two-text two-text" "three three" "three-text three-text";
  }
  section.content #one {
    width: 100% !important;
    grid-area: one;
  }
  section.content #one-text {
    grid-area: one-text;
  }
  section.content #two {
    grid-area: two;
  }
  section.content #two-text {
    grid-area: two-text;
  }
  section.content #three {
    grid-area: three;
  }
  section.content #three-text {
    grid-area: three-text;
  }
}
section.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.content div.item {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2em;
  padding-right: 2em;
}
section.content div.item h3#item__title {
  display: flex;
  font-size: 1.8em;
  font-weight: 100;
  justify-content: flex-start;
  width: 100%;
}
section.content div.item ol {
  padding: 1em;
}
section.content img.img {
  width: 100%;
  height: 450px;
  background-color: crimson;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */