@media only screen and (min-width: 600px) and (min-width: 768px) and (min-width: 998px) {

    .navbar {
        align-items: center;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly;
        padding-top: .5em;
        padding-bottom: .5em;

        #navToggler {
            width: 45px;
            height: 45px;
            display: none !important;
        }

        ul#nav {
            display: flex !important;
            flex-direction: row !important;

            li {
                width: max-content !important;
                list-style: none;
                list-style-type: none;
                margin-left: .5em;
                margin-right: .5em;
            }

            li#contact {
                background-color: var(--primary-background-color);
                border-radius: 100vmax;
                text-shadow: #000000 1px 1px 6px;

                a {
                    color: var(--primary-color);
                }
            }

            a {
                color: #000000;
                display: block;
                font-size: 1.1em;
                padding-left: 1em;
                padding-right: 1em;
                padding-top: .4em;
                padding-bottom: .4em;
                text-decoration: none;
            }
        }
    }
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-areas:
        "logo navToggler"
    ;
    padding: .5em;

    .active {
        width: 100%;
        min-height: 100%;
        background-color: var(--primary-color);
        display: flex !important;
        margin-top: 4.1em !important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999999;
    }

    span#navToggler {
        width: 45px;
        height: 45px;
        cursor: pointer;
        color: var(--primary-background-color);
        display: block;
        grid-area: navToggler;
    }

    #logo {
        width: fit-content;
        height: inherit;
        grid-area: logo;
    }

    ul#nav {
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            list-style: none;
            list-style-type: none;
            padding-left: .5em;
            padding-right: .5em;
        }

        a {
            color: #000000;
            display: block;
            font-size: 1.1em;
            padding-left: 1em;
            padding-right: 1em;
            padding-top: .4em;
            padding-bottom: .4em;
            text-decoration: none;
        }
    }
}