:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --lightmode: #FFFFFF;
  --darkmode: #000000;
  --primary-color: #FFFFFF;
  --primary-text-color: #224c8d;
  --primary-background-color: #224c8d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}